<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">Mo moamen</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link" routerLinkActive="text-main" routerLink="home">Home</a>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link" routerLinkActive="text-main" routerLink="brand">Brands</a>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link" routerLinkActive="text-main" routerLink="categories">Categories</a>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link" routerLinkActive="text-main" routerLink="cart">Cart</a>
        </li>
        <li *ngIf="isLogin" class="nav-item">
          <a class="nav-link" routerLinkActive="text-main" routerLink="products">Products</a>
        </li>
      </ul>
      <div class="socialMedia d-flex gap-2 align-items-center">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-instagram"></i> <!-- Corrected spelling of Instagram -->
        <i class="fa-brands fa-github"></i>
        <i class="fa-brands fa-linkedin"></i>
        <a *ngIf="!isLogin" class="nav-link" routerLinkActive="text-main" routerLink="login">login</a>
        <a *ngIf="!isLogin" class="nav-link" routerLinkActive="text-main" routerLink="register">register</a>
        <a (click)="logOut()" *ngIf="isLogin" class="nav-link cursor-pointer">logout</a>
      </div>
    </div>
  </div>
</nav>
