<div class="register w-75 container">
    <h2>Forget Password:</h2>
    <form *ngIf="firstForm" [formGroup]="forgetPw1stForm" (ngSubmit)="submitForgetPwForm()">
        <div class="alert alert-danger" role="alert" *ngIf="errMessage">
            {{errMessage}}
          </div>
          
  
      <div class="my-3">
        <label for="formGroupEmail" class="form-label">Email</label>
        <input formControlName="email" type="email" class="form-control" id="formGroupEmail" placeholder="Enter your mail">
        <div class="invalid-feedback d-block" *ngIf="forgetPw1stForm.get('email')?.errors?.['email']&&forgetPw1stForm.get('email')?.touched">
            Please enter Valid Mail.
          </div>
        <div class="invalid-feedback d-block" *ngIf="forgetPw1stForm.get('email')?.errors?.['required']&&forgetPw1stForm.get('email')?.touched">
            Please enter your email.
          </div>
      </div>
      <div class="d-flex justify-content-end">
        <button [disabled]="forgetPw1stForm.invalid" type="submit" class="btn btn-success ms-auto d-block " >
            <i *ngIf="loadingBtn" class="fa-solid fa-spinner fa-spin"></i> 
            Get Code</button>

      </div>
    </form>

    <form *ngIf="secondForm" [formGroup]="forgetPw2stForm" (ngSubmit)="submitVerifyCodeForm()">
        <div class="alert alert-danger" role="alert" *ngIf="errMessage">
            {{errMessage}}
          </div>
          
  
      <div class="my-3">
        <label for="formGroupEmail" class="form-label">Verification Code</label>
        <input formControlName="resetCode" type="text" class="form-control" id="formGroupEmail" placeholder="check your mail for Vification Code">
        <div class="invalid-feedback d-block" *ngIf="forgetPw2stForm.get('resetCode')?.errors?.['required']&&forgetPw2stForm.get('resetCode')?.touched">
            Please enter Verification Code.
          </div>
      </div>
      <div class="d-flex justify-content-end">
        <button [disabled]="forgetPw2stForm.invalid" type="submit" class="btn btn-success ms-auto d-block " >
            <i *ngIf="loadingBtn" class="fa-solid fa-spinner fa-spin"></i> 
            enter Code</button>

      </div>
    </form>

    <form *ngIf="thirdForm" [formGroup]="forgetPw3stForm" (ngSubmit)="submitResetPw()">
      <div class="alert alert-danger" role="alert" *ngIf="errMessage">
          {{errMessage}}
      </div>

      <div class="my-3">
          <label for="formGroupEmail" class="form-label">Email</label>
          <input formControlName="email" type="email" class="form-control" id="formGroupEmail" placeholder="Enter your email">
          <div class="invalid-feedback d-block" *ngIf="forgetPw3stForm.get('email')?.errors?.['email'] && forgetPw3stForm.get('email')?.touched">
              Please enter a valid email.
          </div>
          <div class="invalid-feedback d-block" *ngIf="forgetPw3stForm.get('email')?.errors?.['required'] && forgetPw3stForm.get('email')?.touched">
              Please enter your email.
          </div>
      </div>
      <div class="my-3">
          <label for="formGroupPassword" class="form-label">New Password</label>
          <input formControlName="newPassword" type="password" class="form-control" id="formGroupPassword" placeholder="Enter your new password">
          <div class="invalid-feedback d-block" *ngIf="forgetPw3stForm.get('newPassword')?.errors?.['required'] && forgetPw3stForm.get('newPassword')?.touched">
              Please enter your new password.
          </div>
          <div class="invalid-feedback d-block" *ngIf="forgetPw3stForm.get('newPassword')?.errors?.['pattern'] && forgetPw3stForm.get('newPassword')?.touched">
              Password must be 8-16 characters, contain at least one uppercase letter, one lowercase letter, one number, and one special character.
          </div>
      </div>
      <div class="d-flex justify-content-end">
          <button [disabled]="forgetPw3stForm.invalid" type="submit" class="btn btn-success ms-auto d-block">
              <i *ngIf="loadingBtn" class="fa-solid fa-spinner fa-spin"></i> 
              Reset Password</button>
      </div>
  </form>

  </div>
